*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("imgg.jpg");
  background-size: 100% 100%;
}
ul {
  list-style: none;
}

button, nav ul li {
  cursor: pointer;
}
button:hover, nav ul li:hover {
  text-shadow: 0 0 5px;
}

.Test-Login div input:focus {
  background-color: rgb(32, 153, 147);
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #052020ea;
}

.Nav {
  position: fixed;
  top: 0;
  background-color: #07171d;
  border-bottom: 2px solid rgba(15, 214, 228, 0.74);
}
.Nav ul {
  display: flex;
  width: 100vw;
  height: 15vh;
  color: rgb(28, 245, 245);
  align-items: center;
}
.Nav ul li {
  padding: 3vh 0;
  text-align: right;
  font-size: 4vh;
  margin-right: 2.4vw;
}
#logo {
  border-radius: 5vh;
  box-shadow: 0px 0px 5px;
  margin-left: 2vw;
  padding: 3vh;
}
.Nav ul li:nth-child(2) {
  margin-left: auto;
}
.Nav ul li:nth-child(3) {
  margin-right: 4vw;
}

.Main {
  margin-top: 15vh;
  display: flex;
  width: 100vw;
  min-height: 80vh;
  color: rgb(28, 245, 245);
}
.Demo-Quiz {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-left: 2vw;
}
.Demo-Quiz h1 {
  font-size: 8vh;
  margin-top: 5vh;
}
.Demo-Quiz h2 {
  margin-top: 3vh;
  font-size: 4vh;
}
.Demo-Quiz h2 span {
  color: #08ff3d;
}
.Demo-Quiz button {
  outline: none;
  padding: 2vh;
  font-size: 4vh;
  outline: none;
  border-radius: 2vh;
  color: rgb(28, 245, 245);
  background-color: #222222b6;
  box-shadow: 0 0 5px rgb(49, 15, 15);
  width: 20vw;
  margin: 12vh 0 0 15vw;
}

.Take-Test {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-left: 2vw;
  overflow-y: auto;
}
.Take-Test h1 {
  margin-top: 5vh;
  font-size: 8vh;
  color: rgb(28, 245, 245);
}
.Take-Test h2 {
  margin-top: 3vh;
  font-size: 4vh;
  color: rgb(28, 245, 245);
}
.Test-Login {
  margin: 8vh auto 0;
  align-self: center;
  justify-self: center;
  padding: 5vh;
  border: 2px solid #00f2fa;
  border-radius: 10%;
  background-color: #22bfc479;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  box-shadow: 0 0 15px rgb(49, 15, 15);
}
.Test-Login button {
  padding: 2vh;
  font-size: 4vh;
  outline: none;
  border-radius: 2vh;
  color: rgb(28, 245, 245);
  background-color: #222222b6;
  box-shadow: 0 0 15px rgb(49, 15, 15);
}
.Test-Login div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}
.Test-Login div input {
  background-color: rgba(9, 240, 228, 0.692);
  outline: none;
  border: 2px solid #00f2fa;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  height: 7vh;
  margin-left: 0.7vw;
  padding: 2vh;
}
.Test-Login div label {
  color: rgb(28, 245, 245);
  margin-right: 0.6vw;
}

.Footer {
  display: flex;
  width: 100vw;
  height: 8vh;
  align-items: flex-end;
  justify-content: center;
  font-size: 3vh;
  color: rgb(26, 212, 165);
}
