<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="template.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="App">
      <nav class="Nav">
        <ul>
          <li id="logo">QUIZHIRE</li>
          <li>Register</li>
          <li>Login</li>
        </ul>
      </nav>
      <main class="Main">
        <div class="Demo-Quiz">
          <h1>For hiring teams</h1>
          <h2>
            If you're looking for talented Javascript Developers, then
            <span><em>look no further!</em></span><br />
            Try out our Javascript assessment tests and find the best candidates
            for your organization.
          </h2>
          <button>Try demo test</button>
        </div>
        <div class="Take-Test">
          <h1>For developers</h1>
          <h2>If you've got the pin from your recruiter, then fill up this form to give the test.</h2>
          <form class="Test-Login">
            <div>
              <label>Name: </label>
              <input
                type="text"
                name="name"
                value=""
              />
            </div>
            <div>
              <label>Email: </label>
              <input
                type="email"
                name="email"
                value=""
              />
            </div>
            <div>
              <label>Pin: </label>
              <input
                type="text"
                name="pin"
                value=""
              />
            </div>

            <button type="submit">Take the test</button>
          </form>
        </div>
      </main>
      <footer class="Footer">
        <h3>All rights reserved.<sup>&copy;</sup></h3>
      </footer>
    </div>
  </body>
</html>
