.Admin-Screen {
  padding-left: 1rem;
  width: 100%;
}
.Update-Data h1, .Tests h2{
  margin-top: 1.5rem;
}
.Update-Data h2, .Tests h2{
  font-size: 1.2rem;
  margin-bottom: .6rem;
}
.Update-Data button, .Tests button, .Questions button, .Create-Test button{
  padding: .6rem .8rem;
  font-size: 1.2rem;
  border-radius: .6rem;
  outline: none;
  background-color: #222222b6;
}
.Tests button {
  padding: .5rem 1.2rem;
  margin-bottom: 2rem;
}


@media (min-width: 1900px), (max-width: 900px) {
  .Update-Data h2, .Update-Data button, .Tests h2, .Tests button {
    font-size: 1.4rem;
  }
}
@media (max-width: 450px) {
  .Update-Data h2, .Update-Data button, .Tests h2, .Tests button {
    font-size: 1.5rem;
  }
}

.New-Nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-right: .8rem;
}
.New-Nav button {
  font-size: 1.2rem;
  padding: .6rem .9rem;
}
.Questions h1 {
  margin-top: .8rem;
  margin-bottom: -.2rem;
}
.List-Question {
  margin-top: .5rem;
}
.List-Question h2 {
  font-size: 1.5rem;
}
.List-Question h3 {
  font-size: 1rem;
  color: rgba(120, 255, 10, 0.849);
}
.List-Question :nth-child(6) {
  color: rgba(255, 108, 10, 0.849);
}
.List-Question button {
  padding: .4rem 1.2rem;
  margin: .6rem 1.5rem .6rem 0;
}

.Question {
  margin: auto;
  width: 50%;
}
.Question h1 {
  margin-top: 1rem;
}
.Question-Form {
  margin: 1.5rem auto;
  width: 80%;
  padding: 1.3rem;
  border: 2px solid rgb(0, 242, 250);
  border-radius: .7rem;
  background-color: #22bfc479;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  box-shadow: 0 0 15px rgb(49, 15, 15);
}
.Question-Form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Question-Form div input:focus {
  background-color: rgb(0, 0, 0);
}
.Question-Form div input{
  background-color: rgba(9, 240, 228, 0.692);
  outline: none;
  border: 2px solid #00f2fa;
  color: rgb(255, 255, 255);
  padding: .6rem;
  font-size: 1rem;
}
.Question-Form div textarea {
  outline: none;
  background-color: rgba(9, 240, 228, 0.692);
  color: white;
  font-size: 1rem;
}
.Question-Form div textarea:focus {
  background-color: rgb(0, 0, 0);
}
.Question-Form button {
  padding: .8rem;
  outline: none;
  border-radius: .6rem;
  background-color: #222222b6;
  box-shadow: 0 0 15px rgb(49, 15, 15);
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .Question {
    width: 70%;
  }
  .Question-Form {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .Question {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .Question {
    width: 90%;
  }
  .Question-Form {
    width: 90%;
  }
 }

.Create-Test h1 {
  margin-top: .8rem;
  margin-bottom: -.2rem;
}
.Single-Test {
  margin-top: .5rem;
}
.Single-Test h2 {
  font-size: 1.5rem;
}
.Single-Test h3 {
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgba(120, 255, 10, 0.849);
}
.Single-Test button {
  padding: .4rem 1.2rem;
  margin: .6rem 1.5rem .6rem 0;
}
.Add-Test {
  margin: auto;
  width: 50%;
}
.Add-Test h1 {
  margin-top: 1rem;
}
.Add-Test h2 {
  margin-top: .5rem;
  font-size: 1.2rem;
}
.Add-Test-Form {
  margin: 1.5rem auto;
  width: 80%;
  padding: 1.3rem;
  border: 2px solid rgb(0, 242, 250);
  border-radius: .7rem;
  background-color: #22bfc479;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  box-shadow: 0 0 15px rgb(49, 15, 15);
}
.Add-Test-Form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Add-Test-Form div input:focus {
  background-color: rgb(0, 0, 0);
}
.Add-Test-Form div input{
  background-color: rgba(9, 240, 228, 0.692);
  outline: none;
  border: 2px solid #00f2fa;
  color: rgb(255, 255, 255);
  padding: .6rem;
  font-size: 1rem;
}
.Add-Test-Form button {
  padding: .8rem;
  outline: none;
  border-radius: .6rem;
  background-color: #222222b6;
  box-shadow: 0 0 15px rgb(49, 15, 15);
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .Add-Test {
    width: 70%;
  }
  .Add-Test-Form {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .Add-Test {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .Add-Test {
    width: 90%;
  }
  .Add-Test-Form {
    width: 90%;
  }
}


.Result {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.Result h1 {
  margin-top: 1rem;
}
.Single-Result {
  display: flex;
  margin-top: .8rem;
}
.Result-Details {
  margin-left: 1rem;
}
.Result-Details h2 span {
  color: rgba(120, 255, 10, 0.849);
} 
