.Login {
  margin: auto;
  width: 50%;
}
.Login h1 {
  margin-top: 1rem;
}
.Login h2 {
  margin-top: .5rem;
  font-size: 1.2rem;
}
.Login-Form {
  margin: 1.5rem auto;
  width: 80%;
  padding: 1.3rem;
  border: 2px solid rgb(0, 242, 250);
  border-radius: .7rem;
  background-color: #22bfc479;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  box-shadow: 0 0 15px rgb(49, 15, 15);
}
.Login-Form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Login-Form div input:focus {
  background-color: rgb(0, 0, 0);
}
.Login-Form div input{
  background-color: rgba(9, 240, 228, 0.692);
  outline: none;
  border: 2px solid #00f2fa;
  color: rgb(255, 255, 255);
  padding: .6rem;
  font-size: 1rem;
}
.Login-Form button {
  padding: .8rem;
  outline: none;
  border-radius: .6rem;
  background-color: #222222b6;
  box-shadow: 0 0 15px rgb(49, 15, 15);
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .Login {
    width: 70%;
  }
  .Login-Form {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .Login {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .Login {
    width: 90%;
  }
  .Login-Form {
    width: 90%;
  }
}

/* @media (max-width: 900px) {
  .Login {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .Login, .Login-Form {
    width: 90%;
  }
}
@media (max-width: 350px) {
  .Login {
    width: 100%;
  }
  .Login-Form {
    width: 95%;
  }
  .Login-Form {
    font-size: 1.5vh;
  }
} */

